*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root{

 
  --ff-title:"Merriweather",serif;
  --ff-logo:"Archivo Black",serif;
  --ff-dos:"Irish Grover",serif;






}

a{
  
  all: unset;
  cursor: pointer;

}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container_left{
    width: 26vw;
    background-color:#87e5b014;
    
    display: flex;
    flex-direction: column;
   padding: 24px;
   position: relative;


}

.logo{
    display: flex;
    flex-direction: column;
    font-family:var(--ff-logo) ;
    font-size: 64px;
    line-height: 44px;
    font-weight: 900;
    
}
.logo_apell{
    padding-left: 16px;
 
}

.nav{
    padding-top: 40%;
 padding-left: 16px;
      font-family:var(--ff-dos) ;
    font-size: 32px;
    line-height: 64px;
    font-weight: 900;
}

.copyr{
   position: absolute;
   bottom: 32px;
   left: 32px;
}
.container_right{
    width: 76vw;
    height: 100vh;
    padding: 24px;
   display: flex;
   flex-direction: column;
}

.image{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
   
}

.image > img{
    width: 100%;
    height: 100%;
}

.container_quote{
      width: 80%;
    height: 44%;
    margin: 8PX auto;
 padding-left: 16px;
      font-family:var(--ff-title) ;
    font-size: 32px;
    line-height: 44px;
    font-weight: 900;
}

.section_ada{
  display: flex;
  width: 100%;

}


.image_ada{
    width: 40%;
     height: 80%; 
    margin: 0 auto;
   
}

.image_ada > img{
    width: 100%;
   height: 100%; 
}

.container_text , .p_ada{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:56px;
    padding: 40px;
         font-family:var(--ff-title) ;
    font-size: 18px;
    line-height: 26px;
    font-weight: 900;
}

.p_ada, .quote_ada{
    margin-left: 10%;
    width: 70%;
}

/* .image_galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
    padding: 24px;
}

.image_galeria img{
    width: 100%;
    height: auto;
    object-fit: cover;
} */
.image_slider{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider_track{
  display: flex;
  height: 100%;
  transition: transform 0.6s ease;
}

.slider_track img{
  width: 50%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

/* Flechas */
.slider_btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 64px;
  cursor: pointer;
  z-index: 10;
  opacity: 0.4;
}

.slider_btn:hover{
  opacity: 1;
}

.prev{ left: 16px; }
.next{ right: 16px; }
